p {
  color: rgb(100 116 139);
}

.facturas-container {
  padding: 0rem 1rem 0rem 1rem;
}

.divisor {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.buscar-container ion-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(100 116 139);
}

.buscar-container ion-input ion-icon {
  font-size: 1.5rem;
  color: rgb(100 116 139);
  margin: 0rem 1rem 0rem 1rem;
}

.border {
  border-width: 1px;
  border-radius: 0.5rem;
  border-color: rgba(100, 116, 139, 0.5);
  border-style: solid;
}

.margen {
  margin: 1rem;
}


table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #818181;
  text-align: center;
}

.table-container {
  overflow-x: auto;
}